### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule catch-your-pocket index.php
RewriteRule registration registration.php
RewriteRule log-in logIn.php
RewriteRule main-menu mainMenu.php
RewriteRule add-income addIncome.php
RewriteRule add-expense addExpense.php
RewriteRule view-balance viewBalance.php
RewriteRule log-out logOutPHPOnly.php
RewriteRule welcome welcomeNewUser.php