/* General and default settings*/

body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/planting-trees-coin-pile-with-sunlight.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	font-family: 'Caveat', cursive;
	font-weight: 500;
	font-size: 35px;
	margin: 0;
}

body.userPanel
{
	background-image: url("img/jukenseiNoNatsu.jpg");
}

.logo
{
	background-color: #665647dc;
	font-family: 'Nerko One', cursive;
	font-size: 60px;
	color: #63D603;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 8vh;
	border-top: 5px solid #dedea0cc;
	border-bottom: 5px solid #dedea0cc;
}

.container
{
	background-color: #665647;
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	padding: 25px 40px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);
	box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);
	text-align: justify;
	border: 5px solid #666647;
	border-radius: 10px;
	opacity: 0.9;
}

h1.articleHeaders
{
	font-weight: 700;
	font-size: 55px;
	color: #ffffaa;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

div.buttons
{
	width: 466px;
	margin-top: 20px;
	margin-left: 227px;
	margin-right: 227px;
}

div.buttons > a
{
	color: #ffffff;
	text-decoration: none;
}

div.buttons > a > div /* For all buttons */
{
	width: 213px;
	height: 129px;
	margin: 5px;
	text-align: center;
	font-size: 45px;
	background-color: #bcbc805c;
	border: 5px solid #dedea05c;
	border-radius: 10px;
	padding-top: 15px;
}

div.buttons > a > div:hover /* For all buttons' hovers */
{
	background-color: #cdcd905c;
	cursor: pointer;
}

.footer
{
	/* I don't know how to make footer sticky to the bottom and not sticky when it is to close container*/
	background-color: #665647dc;
	width: 100%;
	margin-top: 8vh;
	margin-bottom: 5vh;
	color: #63D603;
	text-align: center;
	font-size: 30px;
	border-top: 5px solid #dedea0cc;
	border-bottom: 5px solid #dedea0cc;
}

.footer > a
{
	color: #ffffaa;
	text-decoration: none;
}

.footer > a:hover
{
	color: #63D603;
}

.footer > span
{
	color: #fcf75f;
}

/* Welcome site =================================== */

.oneLineCenterText
{
	text-align: center;
	margin-top: 25px;
}

div.buttons > a > div.registerButton,
div.buttons > a > div.logInButton
{
	float:left;
	width: 213px;
}

.registerButton:hover
{
	color: #fcf75f;
}

.logInButton:hover
{
	color: #63D603;
}

/* Registration and log in site =================================== */

.formContainer
{
	width: 620px;
	padding: 0 155px;
}

input
{
	float: left;
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

input[type = email]
{
	width: 610px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	border: 2px solid  #ffff99;
	background-color: #ffffdd;
	color: #63D603; /* letters color */
	
}

input[type=submit]
{
	width: 300px;
	background-color: #41b401;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin: 30px 160px 0;
}

input[type=submit]:hover
{
	background-color: #63D603;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
/* Placeholder color */
input::-webkit-input-placeholder
{
    color: #777777;
}
/* Placeholder color - on focus */
input:focus::-webkit-input-placeholder
{
    color: #63D603;
	opacity: 1; /* for Firefox */
}

/* Firefox < 19 */
input:-moz-placeholder
{
    color: #63D603;
	opacity: 1;
}
input:focus:-moz-placeholder
{
    color: #777777;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #63D603;
	opacity: 1;
}
input::focus:-moz-placeholder
{
    color: #777777;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #63D603;
}
input:focus:-ms-input-placeholder
{
    color: #777777;
}

/* Main menu ===================================== */
span.name
{
	color: #63D603;
}

div.buttons > a > div > span.text /* For all button's texts */
{
	font-size: 35px;
}

div.buttons > a > div.incomeButton,
div.buttons > a > div.expenseButton,
div.buttons > a > div.settingsButton,
div.buttons > a > div.logOutButton
{
	float:left;
	width: 213px;
}

div.buttons > a > div.viewBalanceButton
{
	width: 446px;
}

.incomeButton:hover
{
	color: #63D603;
}

.expenseButton:hover
{
	color: #d81111;
}

.settingsButton:hover
{
	color: #fcf75f;
}

.logOutButton:hover
{
	color: #d81111;
}

.viewBalanceButton:hover
{
	color: #fcf75f;
}

