/*================================ General and default settings ================================*/

body
{
	background-image: url("img/planting-trees-coin-pile-with-sunlight.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	font-family: 'Caveat', cursive;
	font-weight: 500;
	font-size: 35px;
	margin: 0;
	line-height: 1.25;
}

body.userPanel
{
	background-image: url("img/jukenseiNoNatsu.jpg");
}

.japaneseText
{
	font-size: 20px;
}

div.logo
{
	/*height: 86px;*/
	background-color: #665647dc;
	font-family: 'Nerko One', cursive;
	font-size: 60px;
	color: #63D603;
	text-align: center;
	margin-top: 4vh;
	margin-bottom: 6.5vh;
	padding: 10px;
	border-top: 5px solid #dedea0cc;
	border-bottom: 5px solid #dedea0cc;
	line-height: 1;
	
}

div.logoIcon,
div.fullLogo,
div.shortLogo
{
	display: inline-block;
}

div.shortLogo
{
	display: none;
}

span.logo
{
	color: #fcf75f;
}

div.myContainer,
div.myViewBalanceContainer
{
	background-color: #665647;
	width: 80%;
	max-width: 1010px;
	padding: 25px 40px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);
	-moz-box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);
	box-shadow: 3px 3px 30px 5px rgba(34,18,3,1);
	text-align: justify;
	border: 5px solid #666647;
	border-radius: 10px;
	opacity: 0.9;
}

h1.articleHeaders
{
	font-weight: 700;
	font-size: 55px;
	color: #ffffaa;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

div.buttonsContainer
{
	width: 486px;
	margin: 20px auto 0;
}

/* Buttons' main syle -------------------------------- */
div.registerButton,
div.logInButton,
div.incomeButton,
div.expenseButton,
div.settingsButton,
div.logOutButton,
div.viewBalanceButton,
button.addExpense,
div.back,
div.backViewBalance
{
	width: 233px;
	height: 144px;
	margin: 5px;
	text-align: center;
	font-size: 45px;
	background-color: #bcbc805c;
	border: 5px solid #dedea05c;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.buttonsContainer a
{
	display: block;
}

div.registerButton:hover,
div.logInButton:hover,
div.incomeButton:hover,
div.expenseButton:hover,
div.settingsButton:hover,
div.logOutButton:hover,
div.viewBalanceButton:hover,
button.addExpense:hover,
div.back:hover,
div.backViewBalance:hover
{
	background-color: #cdcd905c;
	cursor: pointer;
}

div.back,
div.backViewBalance
{
	float:left;
	width: 223px;
}

div.back:hover,
div.backViewBalance:hover
{
	color: #228de9;
}

/* Addition to "buttons" type buttons */
button.addExpense
{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	font-family: 'Caveat', cursive;
	color: #ffffff;
	display: block;
}

/*----------------------------------------------------------------------*/

.form-control
{
	line-height: 1;
}

/* Main Focus for the input elements ---------------------------------- */
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=date]:focus,
textArea.textArea:focus
{
	-webkit-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,0.9);
	border: 2px solid  #ffff99;
	background-color: #ffffdd;
	color: #63D603; /* letters color */
	
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
/* Placeholder color */
input::-webkit-input-placeholder,
textArea::-webkit-input-placeholder
{
    color: #777777;
}

/* Placeholder color - on focus */
input:focus::-webkit-input-placeholder,
textArea:focus::-webkit-input-placeholder
{
    color: #63D603;
}

/* Firefox < 19 */
/* Placeholder color */
input.registrationLogInForm:-moz-placeholder,
input.transferForm:-moz-placeholder,
textArea.textArea:-moz-placeholder
{
    color: #63D603;
}
/* Placeholder color - on focus */
input.registrationLogInForm:focus:-moz-placeholder,
textArea:focus:-moz-placeholder
{
    color: #777777;
}

/* Firefox > 19 */
/* Placeholder color */
input.registrationLogInForm::-moz-placeholder,
textArea::-moz-placeholder
{
    color: #63D603;
	opacity: 0.9;
}
/* Placeholder color - on focus */
input.registrationLogInForm:focus::-moz-placeholder,
textArea:focus::-moz-placeholder
{
    color: #777777;
	opacity: 0.9;
}

/* Internet Explorer 10 */
/* Placeholder color */
input.registrationLogInForm:-ms-input-placeholder,
textArea:-ms-input-placeholder
{
    color: #63D603;
}
/* Placeholder color - on focus */
input.registrationLogInForm:focus:-ms-input-placeholder,
textArea:focus:-ms-input-placeholder
{
    color: #777777;
}

/*-----------------------------------------------------------*/

.wrapper
{
	min-height: calc(100vh - 93px - 6.5vh - 4vh - 84px - 6.5vh - 4vh); /* form footer: - 84px - 6.5vh - 4vh; from logo: -93px - 6.5vh - 4vh */
}

.footer
{
	background-color: #665647dc;
	/*height: 86px;*/
	margin-top: 6.5vh;
	margin-bottom: 4vh;
	color: #63D603;
	text-align: center;
	font-size: 30px;
	border-top: 5px solid #dedea0cc;
	border-bottom: 5px solid #dedea0cc;
}

a
{
	color: #ffffff;
	text-decoration: none;
}

div.footerLink > a
{
	color: #ffffaa;
}

div.footerLink > a:hover
{
	color: #63D603;
}

div.footerAuthor
{
	color: #fcf75f;
}

div.footer div
{
	display: inline-block;
}

/*================================ Welcome site ================================*/

.oneLineCenterText
{
	text-align: center;
	margin-top: 25px;
}

div.registerButton,
div.logInButton
{
	float:left;
}

.registerButton:hover
{
	color: #fcf75f;
}

.logInButton:hover
{
	color: #63D603;
}

/*================================ Registration and log in site ================================*/

div.registrationLogInForm
{
	width: 620px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

input.registrationLogInForm
{
	float: left;
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

input[type = email].registrationLogInForm
{
	width: 610px;
}

input[type=submit].registrationLogInForm
{
	float: none;
	display: block;
	background-color: #41b401;
	color: white;
	padding: 15px 10px;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
	outline: none;
	margin: 30px auto 0;
}

input[type=submit].registrationLogInForm:hover
{
	background-color: #63D603;
	color: green;
}

/*================================ Main menu site ================================*/
span.userName
{
	color: #63D603;
}

span.buttonText /* For all button's texts */
{
	font-size: 35px;
}

div.incomeButton,
div.expenseButton,
div.settingsButton,
div.logOutButton
{
	float:left;
	width: 223px;
}

div.viewBalanceButton
{
	width: 456px;
}

.incomeButton:hover
{
	color: #63D603;
}

.expenseButton:hover
{
	color: #d81111;
}

.settingsButton:hover
{
	color: #fcf75f;
}

.logOutButton:hover
{
	color: #228de9;
}

.viewBalanceButton:hover
{
	color: #fcf75f;
}

/*================================ Transfer site ================================*/
div.transferFormContainer
{
	text-align: left;
}

fieldset
{
	padding: 15px;
	margin-top: 10px;
}

legend
{
	float: none;
	width: 110px;
	font-size: 35px;
	padding: 0;
	margin: 0;
}

div.category
{
	padding: 0 5px;
}

fieldset.category
{
	border: 2px solid #ffffaa;
	border-radius: 10px;
	
}

div.columns
{
	float: left;
	margin: 0 10px;
}

input[type=radio]:hover,
div.columns > div > label:hover
{
	cursor: pointer;
}

div.amountAndDate
{
	float: left;
	/*width: 300px;*/
	margin: 20px 0 10px;
	padding: 0 5px;
}

div.textArea
{
	float: left;
	/*width: 600px;*/
	height: 146px;
	margin: 20px 0 10px;
	padding: 0 5px;
}

input.transferForm,
textArea.textArea
{
	display: block;
	/*width: 300px;*/
	background-color: #efefef;
	color: #666666;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	
}

textArea.textArea
{
	/*width: 600px;*/
	height: 146px;
	resize: none;
}

input.transferForm[type=number]
{
	margin-bottom: 20px;
}

button.addExpense
{
	float: left;
}

button.addExpense:hover
{
	color: #d81111;
}

/* Back button stylized in general options */

/*================================ View Balance site ================================*/
div.myViewBalanceContainer
{
	max-width: 1290px;
}

div.viewBalanceContent
{
	margin-top: 10px;
}

div.balanceContent
{
	float: left;
	width: 875px;
	padding-right: 15px;
}

div.balanceControlPanelRight,
div.balanceControlPanelLeft
{
	float: left;
	width: 310px;
}

div.balanceControlPanelLeft
{
	display: none;
}

div.balanceControlPanelDate
{
	float: left;
	/*width: 300px; - there can't be width, cause "col" in HTML will not work */
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}

input.balanceControlPanel
{
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

div.balanceControlPanelMonthYearButtons
{
	float:left;
	margin-bottom: 15px;
}

button.balanceControlPanel,
button.balanceControlPanelSubmit
{
	width: 213px;
	background-color: #ffffaa;
	color: #63D603;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	padding: 15px 15px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	display: block;
	
}

button.balanceControlPanelSubmit
{
	float:left;
	width: 77px;
	height: 221px;
	background-color: #41b401;
	color: white;
	margin-bottom: 15px;
}

button.balanceControlPanel:hover
{
	background-color: #fcf75f;
	color: #63D603;
}
button.balanceControlPanelSubmit:hover
{
	background-color: #63D603;
	color: green;
}

/* Back button stylized in general options */
div.backViewBalance
{
	width: calc(100% - 10px); /* margin = 5px */
}

table.positiveBalanceContent,
table.negativeBalanceContent,
table.positiveBalanceContent th,
table.negativeBalanceContent th
{
	padding: 10px;
	text-align: center;
}

table.positiveBalanceContent,
table.negativeBalanceContent
{
	display: block;
}

th.amount
{
	width: 163px;
}

th.category
{
	width: 220px;
}

th.comment
{
	width: 464px;
}

thead.positiveBalanceContent,
thead.negativeBalanceContent
{
	color: #ffffaa;
}

tr.positiveBalanceContentOdd
{
	color: #52c502;
}

tr.positiveBalanceContentEven
{
	color: #74e714;
}

tr.negativeBalanceContentOdd
{
	color: #d81111;
}

tr.negativeBalanceContentEven
{
	color: #fa3333;
}

div.balance
{
	text-align: center;
}

span.balance
{
	color: #63D603;
}

/* =========================== MEDIA =========================== */
@media (max-width: 1613px)
{
	/* View balance site */
	
	div.balanceContent
	{
		display: none;
	}
	
	div.balanceControlPanelRight
	{
		display: none;
	}
	
	div.balanceControlPanelLeft
	{
		display: block;
		width: 100%;
	}
	
	div.balanceContent
	{
		padding: 0;
	}
	
	div.balanceControlPanelDates
	{
		float: left;
		margin-top: 20px;
	}
	
	div.balanceControlPanelDate
	{
		min-width: 222px;
		margin: 0;
		padding: 0 5px;
	}
	
	input.balanceControlPanel[type = date]
	{
		width: 100%;
	}
	
	div.balanceControlPanelMonthYearButtons
	{
		width: 100%;
		padding-left: 5px;
	}
	
	button.balanceControlPanel
	{
		width: 100%;
		margin: 10px 0 0;
	}
	
	div.balanceControlPanelSubmit
	{
		padding-right: 5px;
	}
	
	button.balanceControlPanelSubmit
	{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	div.backViewBalance
	{
		float: left;
	}
}

@media (max-width: 991.98px)
{
	/* Registration and Log in site */
	div.registrationLogInForm
	{
		width: 100%;
	}
	
	input.registrationLogInForm,
	input.registrationLogInForm[type = email]
	{
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	/* View Balance site */
	div.balanceContent
	{
		font-size: 0.5vw; /* Only for testing */
	}
}

@media (max-width: 767.98px)
{
	div.myContainer,
	div.myViewBalanceContainer
	{
		width: 100%;
	}
	
	div.footer
	{
		height: auto;
	}
}

@media (max-width: 575.98px)
{
	body
	{
		font-size: 25px;
	}
	
	div.logo
	{
		font-size: 50px;
	}
	
	h1.articleHeaders
	{
		font-size: 45px;
	}
	
	div.fullLogo
	{
		display: none;
	}
	
	div.shortLogo
	{
		display: inline-block;
	}
	
	div.myContainer,
	div.myViewBalanceContainer
	{
		padding: 20px 15px;
	}
	
	div.registerButton,
	div.logInButton,
	div.incomeButton,
	div.expenseButton,
	div.settingsButton,
	div.logOutButton,
	div.viewBalanceButton,
	button.addExpense,
	div.back,
	div.backViewBalance
	{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		font-size: 35px;
	}
	
	div.buttonsContainer
	{
		width: 100%;
	}
	
	div.icons,
	div.iconText
	{
		display: inline-block;
	}
	
	div.footer
	{
		font-size: 18px;
	}
	
	span.japaneseText
	{
		font-size: 14px;
	}
	
	/* View balance site */
	div.balanceControlPanelMonthYearButtons
	{
		padding-right: 5px;
		margin-bottom: 0;
	}
	
	div.balanceControlPanelSubmit
	{
		padding-left: 5px;
	}
	
	button.balanceControlPanelSubmit
	{
		height: auto;
	}
}




